<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>
<body>
<table border="1">
    <tr th:each="res: ${reservations}">
        <td th:text="${res}"/>
        <td><form method="get" th:action="@{'delete-reservation/' + ${res.getId()}}">
            <button type="submit">Delete</button>
        </form></td>
        <td><form method="get" th:action="@{'end-reservation/' + ${res.getId()}}">
            <button type="submit">End</button>
        </form></td>
    </tr>
</table>
<form method="get" th:action="@{add-reservation}">
    <button type="submit">Add reservation</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>