<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<script type="text/javascript" language="javascript">
    function filterByType() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function (ev) {

        }
        xhttp.open("GET", "all-tables", true);
        xhttp.send();
    }
</script>
<body>
<table border="1">
    <tr th:each="res: ${resource}">
        <td th:text="${res}"/>
        <td><form method="get" th:action="@{'update-resource/' + ${res.getId()}}">
            <button type="submit">Update</button>
        </form></td>
        <td><form method="get" th:action="@{'delete-resource/' + ${res.getId()}}">
            <button type="submit" onclick="return window.confirm('Are you sure ?')">Delete</button>
        </form></td>
    </tr>
</table>
<!-- Uposledzone ale dziala xddddd -->
<form method="get" th:action="@{add-table}">
    <button type="submit">Add table</button>
</form>
<form method="get" th:action="@{add-room}">
    <button type="submit">Add ball room</button>
</form>
<button onclick="filterByType()">Filter</button>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
</body>
</html>