<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Salę Balową</title>
</head>
<body>
<p>Dodaj Sale Balowa</p>
<form action="#" th:action="@{add-room}" th:object="${ballRoom}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'ID'" /></td>
            <td><input type="text" th:field="*{id}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Cena'" /></td>
            <td><input type="text" th:field="*{price}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Opis'" /></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Ilosc sal'" /></td>
            <td><input type="text" th:field="*{numOfRooms}" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Dodaj" /></td>
        </tr>
    </table>
</form>
<a th:href="@{/resources/}">Powrot</a>
</body>
</html>