<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Klienta</title>
</head>
<body>
<p>Dodaj Klienta</p>
<form action="#" th:action="@{add-client}" th:object="${client}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="'Login'" /></td>
            <td><input type="text" th:field="*{login}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Imie'" /></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label th:text="'Nazwisko'" /></td>
            <td><input type="text" th:field="*{surname}" /></td>
        </tr>
        <!--<tr>
            <td><label th:text="TYPE" /></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>-->
        <tr>
            <td><input type="submit" value="Dodaj" /></td>
        </tr>
    </table>
    <a th:href="@{/users/}">Powrot</a>
</form>
</body>
</html>