<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 th:text="'Register'"></h1>
<form action="/restaurant" th:action="@{/add-client}" th:object="${user}" method="POST">
    <div>
        <label th:text="'Login'">login</label>
        <input th:field="*{login}"/>
        <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Validation error</p>
    </div>
    <div>
        <label th:text="'Name'">name</label>
        <input th:field="*{name}"/>
    </div>
    <div>
        <label th:text="'Surname'">last</label>
        <input th:field="*{surname}"/>
    </div>
    <div>
        <label th:text="'Password'">password</label>
        <input type="password" th:field="*{password}"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Validation error</p>
    </div>
    <button type="submit" th:text="'Register'">submit</button>
</form>

<!--<a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>-->
</body>
</html>